services:
  frontend:
    container_name: frontend
    tty: true
    networks:
      - app_network
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    command: npm run dev

  backend:
    container_name: "backend"
    volumes:
      - ./backend:/backend
    build: ./backend
    ports:
      - 8080:8080
    env_file:
      - ./backend/.env
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  node_modules:
